embed_video.aux
main.aux
main.log
main.nav
main.out
main.snm
main.synctex.gz
main.toc
main_configuration.aux
useful_commands.aux

sections/motivation.aux
sections/scopes.aux
sections/scopes.log
sections/methodology.aux
sections/results.aux
sections/conclusions.aux